@page
@model pnphuc2050531200254.Pages.congNhan.CreateModel

<h4>congNhan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="congNhan.Ten" class="control-label"></label>
                <input asp-for="congNhan.Ten" class="form-control" />
                <span asp-validation-for="congNhan.Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="congNhan.MaCN" class="control-label"></label>
                <input asp-for="congNhan.MaCN" class="form-control" />
                <span asp-validation-for="congNhan.MaCN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
